# Loops

Python has two loop commands: `while` and `for`.

### `while` Loops

`while` loops are executed as long as a condition is `True`.

In [ ]:
i = 0
while i < 3:
    print(i)
    i += 1  # Equivalent to i = i + 1

- Use a while loop to sum up integers from 0 to 50.

### `break`

`break` statement breaks out of a loop.  
Can be useful if searching for a certain condition.

In [ ]:
i = 0
while i < 750:
    if i == 3:
        break  # The loop is broken here and 3 is not printed
    print(i)
    i += 1

- Given the list of integers below, find the first even element, return the element and its index.
    - Do not iterate after finding the even integer.

In [ ]:
sample_list = [1, 3, 101, 453, 25, 11, 97, 102, 13, 90, 56]

# Write your code here

### `continue`
`continue` statement stops the execution of current iteration but does not break the loop.  
Iteration starts over again.

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

Note that if `i` is incremented after `continue` statement, loop might become **infinite**.

In [ ]:
i = 0
while i < 6:
    if i == 3:  # Infinite loop
        continue  
    print(i)
    i += 1

An example use of `while` loop with list indices.

In [ ]:
l = [1, 2, 4]
i = 0
while i < len(l):
    print(l[i])
    i += 1

- Given the list of mixed integers and strings below:
    - Use a while loop to print the square roots of integers.
    - If the current element is a string, do nothing.
    
Sample input:
```python
[25, 16, 'mht', 100, 'c']
```
Sample output:
```
5
4
10
```

In [ ]:
mixed_list = [25, 12, 'qwr', 89, 'zuma', '12', 1]

- Write a code that asks for user prompt until gets 'Y' or 'N'.  
Sample scenario:
```
Do you want to continue?
>>>e
Do you want to continue?
>>>tg
Do you want to continue?
>>>N
Operation terminated.
```

### A very helpful object: `range`

`range` object allows to create ranges of integers between specified interval.

In [ ]:
range(4)

`range` objects are *lazy* iterables, but can also be actualized if passed to a list, tuple, etc

In [ ]:
list(range(4))

In [ ]:
list(range(0, 10, 2))

In [ ]:
s = 'some string'

print(list(range(len(s))))

## `for` Loops

`for` loop is used for iterating over an iterable (list, tuple, set, range, dictionary, string, etc.)  
`for` loop executes statements for each element of the iterable.

In [ ]:
for i in range(4):
    print(i)

In [ ]:
l = [1, 2, 3]
for i in l:
    print(i**2)

In [ ]:
s = 'string'
new_s = ''
for i in reversed(s):
    new_s += i
    
print(new_s)

Adding two lists elementwise:

In [ ]:
list_1 = [1, 45, 34]
list_2 = [14, 12, -4]
new_list = []
for i in range(len(list_1)):
    new_list.append(list_1[i] + list_2[i])
    
print(new_list)

- Calculate the mean absolute difference between given two lists.
Example:
```
l1 = [1, 2, 4]
l2 = [9, 1, 5]
# absolute differences are : [8, 1, 1]
# mean absolute difference : 11 / 3
```

In [ ]:
actuals = [27, 20, 22, 25, 28, 34, 31, 33, 36]
predictions = [25, 22, 21, 25, 27, 32, 33, 32, 33]

**Breaking a for loop**:

In [ ]:
for i in range(4):
    if i == 2:
        break
    print(i)

**Continuing a loop**:

In [ ]:
for i in range(4):
    if i == 2:
        continue
    print(i)

- Given a list of student grades from Math II, retrieve the list of scores less than 24.  
Sample Input:
```
[12, 45, 54, 17, 25, 3]
```
Sample Output:
```
[12, 17, 3]
```

In [ ]:
grades = [16, 34, 45, 51, 44, 39, 23, 11, 5, 4, 56, 62]

# Write your code here

#### Nested loops:

In [ ]:
a = [1, 2, 3]
b = [11, 12, 13]

for i in a:
    for j in b:
        print(i, j)

- Given a list of integers, find if sum of any two elements equals to 17.

In [ ]:
lst = [1, 45, 12, 4, 16, 9]

for i in range(len(lst)):
    for j in  range(i, len(lst)):
        if lst[i] + lst[j] == 17:
            print('elements found')
            print(lst[i], lst[j])
            break

- Given a dictionary of sales data, calculate and add `Total` key for each product.
Before:  
```
{'Product A': {'Jan':123, 'Feb': 56, 'Mar': 135, 'Apr': 245, 'May':267},
 'Product B': {'Jan':45, 'Feb': 22, 'Mar': 14, 'Apr': 67, 'May':87},
 ...}
 ```
 After:  
 ```
{'Product A': {'Jan':123, 'Feb': 56, 'Mar': 135, 'Apr': 245, 'May':267, 'TOTAL': 826},
 'Product B': {'Jan':45, 'Feb': 22, 'Mar': 14, 'Apr': 67, 'May':87, 'TOTAL': 235},
 ...}
 ```

In [ ]:
sales = {'Product A': {'Jan':123, 'Feb': 56, 'Mar': 135, 'Apr': 245, 'May':267},
         'Product B': {'Jan':45, 'Feb': 22, 'Mar': 14, 'Apr': 67, 'May':87},
         'Product C': {'Jan':28, 'Feb': 40, 'Mar': 44, 'Apr': 58, 'May':51},
         'Product D': {'Jan':256, 'Feb': 326, 'Mar': 389, 'Apr': 401, 'May':409}}

# Wrtie your code here